/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-black: #283136;
  --basic-light-gray: #EEEEEE;
  --basic-red: #FB565A; 
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-gray: #E1E1E1;
  --basic-white: #FFFFFF;
  --basic-dark-gray: #4D4D4D;
  --basic-devil-gray: #666666;
  --basic-four-gray: #444444;

  --special-red: #E74246;
  --special-green: #00BC6C;
  --special-yellow: #EAB534;
  --special-gray: #DFDFDF;
  --special-dark-red: #D7373B;
  --special-dark-green: #00AA62;
  --special-dark-yellow: #E5A722;
  --special-dark-gray: #D5D5D5;

  --opacity-black: rgba(0, 0, 0, 0.3);
  --opacity-white: rgba(255, 255, 255, 0.3);
}

/* Visually hidden */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global */

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-light-black);
  background-color: var(--basic-white);
}

img {
  max-width:100%;
  height:auto;
}

/* Main navigation */

.main-header {
  background-color: var(--basic-light-gray);
}

.main-navigation a {
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation {
  list-style: none;
}

.main-navigation a:hover {
  color: var(--basic-red)
}

.main-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.current-link {
  padding-bottom: 13px;
  border-bottom: 2px solid var(--basic-red);
}

/* Services */

.services h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  line-height: 30px;
}

.services li {
  list-style: none;
}

/* Multi-colored order links */

.services-item a {
  display: inline-block;
  color: var(--basic-white);
  line-height: 18px;
  padding-top: 17px;
  padding-bottom: 15px;
  width: 160px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
}

.services-item-sites a {
  background-color: var(--basic-red);
}

.services-item-sites a:hover {
  background-color: var(--special-red);
}

.services-item-sites a:active {
  background-color: var(--special-dark-red);
  color: var(--opacity-white);
}

.services-item-apps a {
  background-color: var(--basic-green);
}

.services-item-apps a:hover {
  background-color: var(--special-green);
}

.services-item-apps a:active{
  background-color: var(--special-dark-green);
  color: var(--opacity-white);
}

.services-item-presentations a {
  background-color: var(--basic-yellow);
}

.services-item-presentations a:hover {
  background-color: var(--special-yellow);
}

.services-item-presentations a:active {
  background-color: var(--special-dark-yellow);
  color: var(--opacity-white);
}

/* Footer */ 

.friend-us {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: var(--basic-black);
}

.discount {
  color: var(--basic-four-gray);
  line-height: 22px;
}

.social-media {
  list-style: none;
}

.social-icon {
  height: 81px;
  width: 81px;
  border-radius: 50%;
  background-color: var(--basic-light-gray);
  position: relative;
}

.social-icon svg {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-icon:hover {
  background-color: var(--special-red);
}

.social-media li:active {
  background-color: var(--special-dark-red);
}

.social-icon svg:active {
  opacity: 0.3;
}

/* Catalog */

.page-catalog h1 {
  color: var(--basic-black);
  margin: 0;
  padding-top: 87px;
  padding-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  background-color: var(--basic-light-gray);
}

/* Filters */

.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filters li {
  list-style: none;
  line-height: 19px;
}

/* Filters Button */
.show-results {
  width: 260px;
  height: 50px;
  border: none;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: var(--basic-light-gray);
}

.show-results:hover {
  background-color: var(--special-gray);
}

.show-results:active {
  color: var(--opacity-black);
  background-color: var(--special-dark-gray);
}

/* Shop items */

.products li {
  list-style: none;
}

.product-popup {
  background-color: var(--basic-light-gray);
  text-align: center;
}

.product-popup p {
  color: var(--basic-devil-gray);
}

.product-popup .product-page {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.product-popup .product-page:hover {
  color: var(--basic-red);
}

.product-popup .product-page:active {
  color: var(--opacity-black);
}

.price {
  display: inline-block;
  background-color: var(--basic-red);
  color: var(--basic-white);
  width: 200px;
  line-height: 18px;
  padding-top: 17px;
  padding-bottom: 15px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 3px;
}

.price:hover {
  background-color: var(--special-red);
}

.price:active {
  background-color: var(--special-dark-red);
}

/* Page list */

.bottom-page-numbers li {
  list-style: none;
}

.current-page {
  display: inline-block;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-light-gray);
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 15px;
  width: 50px;
  text-align: center;
  border-radius: 3px;
}

.page-number {
  display: inline-block;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
  border: 3px solid var(--basic-light-gray);
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 15px;
  width: 50px;
  text-align: center;
  border-radius: 3px;
}

.more-pages {
  display: inline-block;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
  border: 3px solid var(--basic-light-gray);
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 15px;
  width: 260px;
  text-align: center;
  border-radius: 3px;
}

.page-number:hover,
.more-pages:hover {
  background-color: var(--special-dark-gray);
  border: 3px solid var(--special-dark-gray);
}

.page-number:active,
.more-pages:active {
  color: var(--opacity-black);
  background-color: var(--special-dark-gray);
  border: 3px solid var(--special-dark-gray);
}

/* Full page grid */

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header: logo, navigation, cart */

.main-navigation {
  margin: 0 auto;
  width: 1157px;
  height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-header-logo {
  margin: 0;
  padding: 0;
  width: 160px;
  height: 65px;
  margin-right: 202px;
}

.shopping-cart {
  margin-left: 280px;
  padding-bottom: 13px;
}

.site-navigation {
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.site-navigation li {
  padding-bottom: 13px;
}

/* Main page content */

.page-content {
  width: 1157px;
  margin: 0 auto;
}

.services-list { 
  margin: 0;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 1157px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 100px;
}

/* Footer */

.footer-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1157px;
  display: flex;
}

.social-media {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.social-media li {
  margin-right: 9px;
}

.join-us {
  margin-left: 130px;
  list-style: none;
}

.join-us li {
  margin-bottom: 10px;
}

/* Catalog main content */

.filters-and-products {
  padding: 0;
  width: 1157px;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: space-around;
}

.filters {
  padding: 0;
  margin: 0;
  margin-right: 140px;
}

.product-grid {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 360px 360px;
  grid-column-gap: 41px;
  grid-row-gap: 31px;
}